<h2>Add New Client</h2>
<%= link_to "Clients Details",clients_path %>
<%= form_for @client do |f| %>
    <p>
    <%= f.label :Name_of_client %><br>
    <%= f.text_field :Name %>
    </p>

    <p>
    <%= f.label :Choose_the_skill_required_for_the_position %><br>
    <%= f.select(:Skills, [['Ruby','Ruby'], ['Java', 'Java'], ['Python', 'Python'], ['NodeJS', 'NodeJS']]) %>
    </p>
    
    <p>
    <%= f.label :Mention_the_overall_experience_required_in_Years %><br>
    <%= f.text_field :Experience%>
    </p>
    
    <p>
    <%= f.label :Choose_the_city_for_which_the_resources_are_required? %><br>
    <%= f.select(:City, [['Pune', 'Pune'], ['Mumbai', 'Mumbai'], ['Hydrabad', 'Hydrabad'], ['Chennai', 'Chennai']]) %>
    </p>

    <p> 
    Choose the type of engagement<br>
    <%= f.radio_button :Engagement, 'Full Time' %> Full Time
    <%= f.radio_button :Engagement, 'Part Time' %> Part Time<br />
    </p>

    <p>
    <%= f.label :Enter_approximate_monthly_budget_in_INR %><br>
    <%= f.text_field :Budget %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>