<h2>Added Freelancer</h2>

<p>
Name: <%= @freelancer.Name %> 
</p>

<p>
Skills: <%= @freelancer.Skills %> 
</p>

<p>
Experience: <%= @freelancer.Experience %> 
</p>

<p>
City: <%= @freelancer.City %> 
</p>

<p>
Type of Engagement: <%= @freelancer.Engagement %> 
</p>

<p>
Monthly Salary: <%= @freelancer.Salary %> 
</p>
<%= link_to "Go Home",clients_path %> |
<%= link_to "Add Another Patient",new_client_path %>
